## Last commit: 2026-02-23 17:06:54 CET by admin
version 25.2R1.9;
system {
    host-name pe3;
    root-authentication {
        encrypted-password "$6$PrhVpovS$7nuGBoh3h4TMe7690fhBG5dZtyxCIJndrGJQcex7BMf7XXLbr0.pnTR.FaqIsu7fV2kWjLyMtzLxn1WrQL2Rp."; ## SECRET-DATA
    }
    login {
        user aantonov {
            uid 2000;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDlJRyM6X5x2qOMwJfbTtELc5TCgcti6IwocOa09l75BLnasBVIssaj9fKRKQXtgp01G6fXFcADJiF06wUBY0qQnSPMewLzWEu6CMKpqqULe5WoqKBum4ANeejoFICOZd1V3JkkmpNQiBQH333d9NrRV9ybXxEdMYIK1T+CYytmDBxgJUdaX/IS6rP2AmiOF+GglJyFceHeWjV0BMMTNnAsP9WjyeFIPfZlfLch/74QXJzxQxAYHTffDM85Va2GakSfW3zPGlGEY1GUqJotN+LEm+3DEZb4gawNFdo3Q5Htdi22QLitJDp/qQStjxBnxMMFvQoltC5TRVFPgrXHDcjTm9qlZ/Rv6nw+UTRzzdXhavUAD7KL2CkSOCdv/OsyUyg9MxuTxyuirK5WApZNeAdMDlHIuOqeuzmb9fvg1Vwz57325pu/3B1EwYVTvO2elSqUQQ/NB/KsM0Mx8l1P10aH0eda3RoeUzlqfphEDdduiBlWoad5wpe6yY5W9NFyv48= aantonov@server-14a"; ## SECRET-DATA
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCcYv25hUNeqxJQ8vAC0f1RS8o+rR3uTftjC+vhLKFriNFmCKPonBFarPgcU0bb1pZKsHIZOPWF2ngfTlJbwMo+winjX5SbRxgklMtLVjzgJVibUdK80562roK5TsdSznXdzOkoY29mkf5ZrIr3n3cnOp0zz7VsbCN2QAhPH9bO7o1Q83/oEjkJ6XhxqWCR3nPT44Rn2mOHWja22gp2haHen/fF+SP4QsQVEIxTAyjlNW33H2C402C39KndXp18oTl55qF/WbuTPuGg0pHjjsj01rMQD6oe3XbHSBhtYQX97Ne88okIh80Nn8fIABLXKcY+KljyZMY+iABIgkl/5iYw+Ba6jch9mLW3glSi9kUc/c/yF/P7herb92CvyR2663vQwk7vkuEbvObmbTvjeMAPdwiNhpWytdLDjjGiY6GiosQzOXg+bKRQt4UnbgIUK3EsyZ0mwPhIju47348cxsIHuUqAN8h8uzeU0WTe4dbOYgvQ0P7jaysdXAXSbz0s6sU= aantonov@aantonov-mbp"; ## SECRET-DATA
            }
        }
        user admin {
            uid 2001;
            class super-user;
            authentication {
                encrypted-password "$6$jhObgwYg$cnCb2I94xU4ZHE1my6CbOyzeDC69mc/r97fL0Lg2/dMrd2.xoxFO.sXp4zXXpTt17vF8/q2QjjYOG8HyNyt2w1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
            rfc-compliant;
        }
        ssh {
            root-login allow;
            client-alive-interval 120;
        }
        extension-service {
            request-response {
                grpc {
                    clear-text {
                        port 32767;
                    }
                    skip-authentication;
                }
            }
        }
    }
    schema {
        openconfig {
            unhide;
        }
    }
    time-zone Europe/Amsterdam;
    management-instance;
    name-server {
        172.30.207.10;
        172.30.207.13;
    }
    syslog {
        time-format millisecond;
    }
    ntp {
        server 172.30.207.10;
    }
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family iso;
            family inet6 {
                address 34:34:34::3/64;
            }
        }
    }
    ge-0/0/1 {
        flexible-vlan-tagging;
        encapsulation flexible-ethernet-services;
        unit 200 {
            encapsulation vlan-bridge;
            vlan-id 200;
        }
        unit 201 {
            encapsulation vlan-bridge;
            vlan-id 201;
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family iso {
                address 49.0001.0000.0000.0003.00;
            }
            family inet6 {
                address 3:3:3::3/128;
            }
        }
    }
}
policy-options {
    policy-statement LB {
        then {
            load-balance per-flow;
        }
    }
}
routing-instances {
    elan200 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation srv6;
                source-packet-routing {
                    srv6 locator LocElan200 micro-dt2-sid;
                }
            }
        }
        service-type vlan-based;
        interface ge-0/0/1.200;
        route-distinguisher 3.3.3.3:200;
        vrf-target target:65100:200;
        vlans {
            VLAN200 {
                vlan-id 200;
                interface ge-0/0/1.200;
            }
        }
    }
    elan201 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation srv6;
                source-packet-routing {
                    srv6 locator LocElan201 micro-dt2-sid;
                }
            }
        }
        service-type vlan-based;
        interface ge-0/0/1.201;
        route-distinguisher 3.3.3.3:201;
        vrf-target target:65100:201;
        vlans {
            VLAN201 {
                vlan-id 201;
                interface ge-0/0/1.201;
            }
        }
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    source-packet-routing {
        srv6 {
            locator LocElan200 {
                200:200:3333::/48;
                micro-sid;
            }
            locator LocElan201 {
                201:201:3333::/48;
                micro-sid;
            }
        }
    }
    router-id 3.3.3.3;
    autonomous-system 65100;
    forwarding-table {
        export LB;
    }
}
protocols {
    bgp {
        group INTERNAL {
            type internal;
            local-address 3:3:3::3;
            family evpn {
                signaling {
                    advertise-srv6-service;
                    accept-srv6-service;
                }
            }
            neighbor 1:1:1::1;
            neighbor 2:2:2::2;
        }
    }
    isis {
        log-adjacency-changes;
        interface ge-0/0/0.0 {
            level 1 disable;
        }
        interface lo0.0 {
            passive;
        }
        source-packet-routing {
            srv6 {
                locator LocElan201 micro-node-sid;
                locator LocElan200 micro-node-sid;
            }
        }
        level 2 wide-metrics-only;
    }
    lldp {
        port-id-subtype interface-name;
        neighbour-port-info-display port-id;
        interface all;
    }
}
