## Last commit: 2026-05-30 15:18:40 UTC by admin
version 25.2R1.9;
system {
    host-name spine-01;
    root-authentication {
        encrypted-password "$6$KHjkopsr$TXKA0VpgzkwXEyaiXuidTxMXVRQtF34oQUKyH8YD3piYYvw.dq0fFUV1V93jREtSH2ndrOpQnKn2z7fELzMOe."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$Uj4RhE5f$.6cPr.kfP2WyU4LT0DSkV.ri6rsrcXJ2wCqUsEiceqgbaA6we1u5m1ig.h30vnPbEJNrqvVN6MWEt3LbSmh4O1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.3.0.2/24;
            }
            family inet6;
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet;
            family inet6;
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet;
            family inet6;
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet;
            family inet6;
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet;
            family inet6;
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 1100 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            family inet {
                address 192.168.0.1/24 {
                    virtual-gateway-address 192.168.0.254;
                }
            }
        }
        unit 1101 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            family inet {
                address 192.168.1.1/24 {
                    preferred;
                    virtual-gateway-address 192.168.1.254;
                }
            }
        }
        unit 1102 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            family inet {
                address 192.168.2.1/24 {
                    preferred;
                    virtual-gateway-address 192.168.2.254;
                }
            }
        }
        unit 1200 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            family inet {
                address 192.168.0.1/24 {
                    virtual-gateway-address 192.168.0.254;
                }
            }
        }
        unit 1201 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            family inet {
                address 192.168.1.1/24 {
                    preferred;
                    virtual-gateway-address 192.168.1.254;
                }
            }
        }
        unit 1202 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            family inet {
                address 192.168.2.1/24 {
                    preferred;
                    virtual-gateway-address 192.168.2.254;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.3.2.1/32;
            }
        }
    }
}
policy-options {
    policy-statement ACCEPT_PREFIX_LOOPBACK {
        term 0011 {
            from {
                route-filter 10.3.0.0/16 prefix-length-range /16-/32;
            }
            then accept;
        }
        term 9999 {
            then reject;
        }
    }
    policy-statement EXPORT-VRF-TEAM01 {
        term CONNECTED {
            from protocol direct;
            then accept;
        }
        term BGP {
            from protocol bgp;
            then accept;
        }
        term DENY {
            then reject;
        }
    }
    as-list LEAF members 65330-65335;
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
    vrf-team01 {
        instance-type vrf;
        protocols {
            bgp {
                group CE {
                    type external;
                    export EXPORT-VRF-TEAM01;
                    peer-as 65000;
                    neighbor 10.3.0.1;
                }
            }
        }
        interface ge-0/0/0.0;
        interface irb.1100;
        interface irb.1101;
        interface irb.1102;
        route-distinguisher 65320:1100;
        vrf-target target:65320:1100;
    }
    vrf-team02 {
        instance-type vrf;
        interface irb.1200;
        interface irb.1201;
        interface irb.1202;
        route-distinguisher 65320:1200;
        vrf-target target:65320:1200;
    }
    vrf-v1100 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway no-gateway-community;
                multicast-mode ingress-replication;
            }
        }
        vtep-source-interface lo0.0;
        bridge-domains {
            v1100 {
                vlan-id 1100;
                routing-interface irb.1100;
                vxlan {
                    vni 11100;
                }
            }
        }
        service-type vlan-based;
        route-distinguisher 10.3.2.1:11100;
        vrf-target target:11100:1100;
    }
    vrf-v1101 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway no-gateway-community;
                multicast-mode ingress-replication;
            }
        }
        vtep-source-interface lo0.0;
        bridge-domains {
            v1101 {
                vlan-id 1101;
                routing-interface irb.1101;
                vxlan {
                    vni 11101;
                }
            }
        }
        service-type vlan-based;
        route-distinguisher 10.3.2.1:11101;
        vrf-target target:11101:1101;
    }
    vrf-v1102 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway no-gateway-community;
                multicast-mode ingress-replication;
            }
        }
        vtep-source-interface lo0.0;
        bridge-domains {
            v1102 {
                vlan-id 1102;
                routing-interface irb.1102;
                vxlan {
                    vni 11102;
                }
            }
        }
        service-type vlan-based;
        route-distinguisher 10.3.2.1:11102;
        vrf-target target:11102:1102;
    }
    vrf-v1200 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway no-gateway-community;
                multicast-mode ingress-replication;
            }
        }
        vtep-source-interface lo0.0;
        bridge-domains {
            v1200 {
                vlan-id 1200;
                routing-interface irb.1200;
                vxlan {
                    vni 11200;
                }
            }
        }
        service-type vlan-based;
        route-distinguisher 10.3.2.1:11200;
        vrf-target target:11200:1200;
    }
    vrf-v1201 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway no-gateway-community;
                multicast-mode ingress-replication;
            }
        }
        vtep-source-interface lo0.0;
        bridge-domains {
            v1201 {
                vlan-id 1201;
                routing-interface irb.1201;
                vxlan {
                    vni 11201;
                }
            }
        }
        service-type vlan-based;
        route-distinguisher 10.3.2.1:11201;
        vrf-target target:11201:1201;
    }
    vrf-v1202 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway no-gateway-community;
                multicast-mode ingress-replication;
            }
        }
        vtep-source-interface lo0.0;
        bridge-domains {
            v1202 {
                vlan-id 1202;
                routing-interface irb.1202;
                vxlan {
                    vni 11202;
                }
            }
        }
        service-type vlan-based;
        route-distinguisher 10.3.2.1:11202;
        vrf-target target:11202:1202;
    }
}
routing-options {
    router-id 10.3.2.1;
    autonomous-system 65320;
}
protocols {
    router-advertisement {
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
        interface ge-0/0/3.0;
        interface ge-0/0/4.0;
    }
    bgp {
        group LEAF {
            type external;
            family inet {
                unicast {
                    extended-nexthop;
                }
            }
            family inet6 {
                unicast;
            }
            export ACCEPT_PREFIX_LOOPBACK;
            dynamic-neighbor AUTO-UNDERLAY {
                peer-auto-discovery {
                    family inet6 {
                        ipv6-nd;
                    }
                    interface ge-0/0/1.0;
                    interface ge-0/0/2.0;
                    interface ge-0/0/3.0;
                    interface ge-0/0/4.0;
                }
            }
            peer-as-list LEAF;
        }
        group OVERLAY {
            type external;
            multihop {
                no-nexthop-change;
            }
            local-address 10.3.2.1;
            family evpn {
                signaling;
            }
            multipath;
            neighbor 10.3.3.1 {
                peer-as 65331;
            }
            neighbor 10.3.3.2 {
                peer-as 65332;
            }
            neighbor 10.3.3.3 {
                peer-as 65333;
            }
            neighbor 10.3.3.4 {
                peer-as 65334;
            }
        }
    }
}
